<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Renewable API</title>
</head>
<body>
    <h1>Just a place holder</h1>
    <ul>
    <li>localhost:5000/api/renewable_prod/date/2019-02-26</li>
    <li>localhost:5000/api/renewable_prod/date/range/2019-06-01/2019-12-16</li>
    <li>localhost:5000/api/renewable_demand/date/2019-06-01</li>
    <li>localhost:5000/api/renewable_demand/date/range/2019-06-01/2019-12-16</li>
    </ul>
</body>
</html>